header{
    width: 1863px;
    height: 164px;
    margin:-8px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    display:flex;
}

#header-name{
    width: 974px;
    height: 100%;
    background: #C149FA;
    border: 1px solid #000000;
    box-sizing: border-box;
}
 #header-name > span{
    position: absolute;
    width: 413px;
    height: 84px;
    left: 214px;
    top: 40px;
    font-family: Roboto;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 72px;
    color: #FFFFFF;
    top: 30px;
 }

#header-main{
    width: 220px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top:50px;
    text-decoration:none;
}
#header-main:hover{
    background: #C149FA;
    color: #FFFFFF;
}

#header-catalog{
    width: 220px;
    height: 100%;
    background: #C149FA;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding-top:50px;
    text-decoration:none;
}

#header-catalog:hover{
    background: #FFFFFF;
    color: #000000;
}

#header-about{
    width: 220px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top:50px;
    text-decoration:none;
}

#header-about:hover{
    background: #C149FA;
    color: #FFFFFF;
}

#header-basket{
    width: 245px;
    height: 100%;
    background: #C149FA;
    border: 1px solid #000000;
    box-sizing: border-box;  
}

#header-basket:hover{
    background: #FFFFFF;
    color: #000000;
}

#basket{
    margin-top: 30px;
    margin-left: 30px;
}

#arrow{
    margin-bottom: 30px;
    
}

.box{
    display:flex;
}

.category{
    width: 472px;
    height: 465px;
    border: solid;
    margin-top: 50px;
    margin-left: 20px;
    position: sticky;
    top: 50px;
}


#choice{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 73px;
    background-color: #C149FA;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    border: solid 1px black;
    padding-left: 20px;
    padding-top: 10px;

}

.category > *{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    border: solid 1px black;
    font-size: 36px;
    padding-left: 20px;
    text-decoration:none;
    color: #000000;
}
.category > *:hover{
    background-color: #C149FA;
    color: #FFFFFF;
}

.main-block{
    margin-left: 50px;
    margin-top: 10px;
    width: 1300px;
}
.main-block-content{
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}
.main-block p{
    width: 428px;
    height: 84px;
    padding-left: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #000000;
}

#line{
    margin-top: -60px;
    margin-left: 5%;
    border: solid #403b42 1px;
    width: 90%;
}

.product{
    margin-top: 50px;
    margin-left: 150px;
    width: 400px;
    height: 550px;
    border: solid;
    background-size: cover;
    border-radius: 20px;
}

.content{
    width: 100%;
    height: 25%;
    border:solid 1px;
    border-radius: 20px;
    margin-top: 103%;
    background: #FFFFFF;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.content #content-name{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #000000;
}

.content #content-buy{
    display: flex;
}

.content #content-price{
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #000000;
    width: 150px;
}


 #in-basket{
    display: block;
    box-sizing: border-box;
    border:solid 1px black;
    background: rgb(19, 192, 62);
    height: 60px;
    width: 190px;
    text-align: center;
    padding-top: 10px;
    margin-left: 5%;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

}

#content-line{
    border: solid #403b42 1px;
    width: 80%;
    margin-left: 10%;
}