header{
    width: 1863px;
    height: 164px;
    margin:-8px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    display:flex;
}

#header-name{
    width: 974px;
    height: 100%;
    background: #C149FA;
    border: 1px solid #000000;
    box-sizing: border-box;
    /* align-content: center; */
}
 #header-name > span{
    position: absolute;
    width: 413px;
    height: 84px;
    left: 214px;
    top: 40px;
    font-family: Roboto;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 72px;
    color: #FFFFFF;
    top: 30px;
 }

#header-main{
    width: 220px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top:50px;
    text-decoration:none;
}

#header-main:hover{
    background: #C149FA;
    color: #FFFFFF;
}

#header-catalog{
    width: 220px;
    height: 100%;
    background: #C149FA;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding-top:50px;
    text-decoration:none;
}

#header-catalog:hover{
    background: #FFFFFF;
    color: #000000;
}

#header-about{
    width: 220px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top:50px;
    text-decoration:none;
}

#header-about:hover{
    background: #C149FA;
    color: #FFFFFF;
}

#header-basket{
    width: 245px;
    height: 100%;
    background: #C149FA;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#header-basket:hover{
    background: #FFFFFF;
    color: #000000;
}

#basket{
    margin-top: 30px;
    margin-left: 30px;
}

#arrow{
    margin-bottom: 30px;
}

.content{
    display: flex;
}

.for-image{

    height: 800px;
    width: 600px;
    margin-top: 5%;
    margin-left: 10%;
}

.for-info{

    height: 800px;
    width: 600px;
    margin-top:5%;
    margin-left: 4%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

#name{
    display: block;
    width: 800px;
    height: 84px;
    font-size: 72px;
    line-height: 84px;
    color: #000000;
}

#category{
    display: block;
    margin-top:50px;
    width: 800px;
    height: 56px;
    font-size: 48px;
    color: #000000;
}

#number{
    display: block;
    margin-top:10px;
    width: 540px;
    height: 56px;
    font-size: 48px;
    color: #000000;
}

#price{
    display: block;
    box-sizing: border-box;
    margin-top: 380px;
    font-size: 48px;
    color: #000000;
    width: 200px;
}


 #in-basket{
    user-select: none;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border:solid 1px black;
    background: rgb(19, 192, 62);
    height: 70px;
    width: 250px;
    text-align: center;
    padding-top: 10px;
    font-size: 48px;
    margin-top: 10px;
    color: #FFFFFF;
}

#in-basket:hover{
    background: rgb(47, 231, 93);
}

#in-basket:active{
    background: rgb(19, 192, 62);
}