<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Orchid World</title>
        <link rel="stylesheet" href="styles/about.css">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div id = "header-name">
                <span>Orchid World</span>
            </div>
            <a href="/" id = "header-main">Главная</a>
            <a href="/catalog?id=1" id = "header-catalog">Каталог</a>
            <a href="/about" id = "header-about">О нас</a>
            <ul>
                <li>
                    <a id="header-basket" onmouseover="change()" onmouseout="notChange()">
                        <img src="images/basket.png" width="110px" height="100px" alt="#" id="basket">
                        <img src="images/arrow.png" width="50px" height="30px" alt="#" id="arrow">
                    </a>
                    <ul id="sub">
                        <li id="sum">
                            <span id="sum-price" th:text="'Цена: ' + ${sum} + ' руб.'"></span>
                        </li>
                        <li class="prd" th:each="baskets: ${basket}">
                            <div id="prd-nn">
                                <span id="prd-name" th:text="${baskets.getName()}"></span>
                                <span id="prd-number">1 шт.</span>
                            </div>
                            <form method="post" th:action="@{/deletefromabout}">
                                <input type="hidden" name="id" th:value="${baskets.getId()}" th:name="id">
                                <input id="del" type="submit" value="✖">
                            </form>
                        </li>
                        <li id="buy">
                            <form method="get" th:action="@{/purchase}">
                                <input id="btn-buy" type="submit" value="Купить">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>

        <div class="content">
            <div class="for-info">
                <span id="why">Почему именно мы?</span>
                <span id="one">&#10102 Качественные цветы</span>
                <span id="two">&#10103 Доступные цены</span>
                <span id="three">&#10104 Наилучший уход</span>
                <span id="four">&#10105 Грамотные специалисты</span>
            </div>
            <div class="for-contact">
               <span id="contact">Контакты</span>
               <span id="address">Москва, <br>ул. Пушкина, д. Колотушкина</span>
               <span id="mail">info@orchid-world.ru</span>
               <span id="when">Ежедневно 9:00-23:00</span>
               <span id="telephone">+7 (800) 555-35-35</span>
               <a href="#" id="whatsapp"><img src="images/whatsapp.png" alt="" width="100px" height="100px"></a>
               <a href="#" id="viber"><img src="images/viber.png" alt="" width="90px" height="90px"></a>
               <a href="#" id="telegram"><img src="images/telegram.png" alt="" width="90px" height="90px"></a>
               <span id="in-soc">Мы в соц. сетях</span>
               <a href="#" id="instagram"><img src="images/instagram.png" alt="" width="90px" height="90px"></a>
               <a href="#" id="vk"><img src="images/vk.png" alt="" width="90px" height="90px"></a>
            </div>
        </div>
        <script>
            function change(){
                let arrow = document.getElementById('arrow');
                let basket = document.getElementById('basket');
                arrow.src = 'images/arrow_black.png';
                basket.src = 'images/basket_black.png';
            }
            function notChange(){
                let arrow = document.getElementById('arrow');
                let basket = document.getElementById('basket');
                arrow.src = 'images/arrow.png';
                basket.src = 'images/basket.png';
            }
        </script>
    </body>
</html>