<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Каталог</title>
        <link rel="stylesheet" th:href="@{styles/catalog.css}">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div id = "header-name">
                <span>Orchid World</span>
            </div>
            <a href="/" id = "header-main">Главная</a>
            <a href="/catalog?id=1" id = "header-catalog">Каталог</a>
            <a href="#" id = "header-about">О нас</a>
            <a id="header-basket" onmouseover="change()" onmouseout="notChange()">
                <img src="images/basket.png" width="110px" height="100px" alt="#" id="basket">
                <img src="images/arrow.png" width="50px" height="30px" alt="#" id="arrow">
            </a>
        </header>
        <div class = "box">
            <div class = "category">
            <a id = "choice">Категория: </a>
            <a href="/catalog?id=1">Орхидея Ванда</a>
            <a href="/catalog?id=2">Орхидея Дендробиум</a>
            <a href="/catalog?id=3">Орхидея Камбрия</a>
            <a href="/catalog?id=4">Орхидея Каттлея</a>
            <a href="/catalog?id=5">Орхидея Пафиопедилум</a>
            <a href="/catalog?id=6">Орхидея Фаленопсис</a>
            <a href="/catalog?id=7">Орхидея Цикнохес</a>
            <a href="/catalog?id=8">Орхидея Цимбидиум</a>
        </div>
        <div class = "main-block">
            <p th:text="${type.get().name}"></p>
            <div id = "line"></div>
            <div class = "main-block-content">
                <a class = "product" th:each="product: ${products}"
                     th:style="'background-image:url(' + @{'/images/' + ${product.image}} + ');'"
                     th:href="'/product?id=' + ${product.id}">
                    <div class = "content" onclick="return false">
                        <span id = "content-name" th:text="${product.name}"></span>
                        <div id = "content-line"></div>
                        <div id = "content-buy">
                            <span id = "content-price" th:text = "${product.price} + ' руб.'"></span>
                            <span id = "in-basket">В корзину</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    </body>
    <script>
        function change(){
        let arrow = document.getElementById('arrow');
        let basket = document.getElementById('basket');
        arrow.src = 'images/arrow_black.png';
        basket.src = 'images/basket_black.png';
        }
        function notChange(){
            let arrow = document.getElementById('arrow');
            let basket = document.getElementById('basket');
            arrow.src = 'images/arrow.png';
            basket.src = 'images/basket.png';
        }
    </script>
</html>
