<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Каталог</title>
        <link rel="stylesheet" href="../static/styles/catalog.css">
    </head>
    <body>
        <header>
            <div id = "header-name">
                <span>Orchid World</span>
            </div>
            <a href="#" id = "header-main">Главная</a>
            <a href="#" id = "header-catalog">Каталог</a>
            <a href="#" id = "header-about">О нас</a>
            <a id="header-basket" onmouseover="change()" onmouseout="notChange()">
                <img src="../static/images/basket.png" width="110px" height="100px" alt="#" id="basket">
                <img src="../static/images/arrow.png" width="50px" height="30px" alt="#" id="arrow">
            </a>
        </header>
        <div class = "box"><div class = "category">
            <a id = "choice">Категория: </a>
            <a>Орхидея Ванда</a>
            <a>Орхидея Дендробиум</a>
            <a >Орхидея Камбрия</a>
            <a>Орхидея Каттлея</a>
            <a>Орхидея Пафиопедилум</a>
            <a>Орхидея фаленопсис</a>
            <a>Орхидея Цикнохес</a>
            <a>Орхидея Цимбидиум</a>
        </div>
        <div class = "main-block">
            <p>Название</p>
            <div id = "line"></div>

            <div class = "product">
                <div class = "content">
                    <span id = "content-name">Название</span>
                    <div id = "content-line"></div>
                    <div id = "content-buy">
                        <span id = "content-price">xxxx руб.</span>
                        <span id = "in-basket">В корзину</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body>
    <script>
        function change(){
        let arrow = document.getElementById('arrow');
        let basket = document.getElementById('basket');
        arrow.src = '../static/images/arrow_black.png';
        basket.src = '../static/images/basket_black.png';
        }
        function notChange(){
            let arrow = document.getElementById('arrow');
            let basket = document.getElementById('basket');
            arrow.src = '../static/images/arrow.png';
            basket.src = '../static/images/basket.png';
        }
    </script>
</html>
