<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Orchid World</title>
        <link rel="stylesheet" href="styles/product.css">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <div id = "header-name">
                <span>Orchid World</span>
            </div>
            <a href="/" id = "header-main">Главная</a>
            <a href="/catalog?id=1" id = "header-catalog">Каталог</a>
            <a href="/about" id = "header-about">О нас</a>
            <ul>
                <li>
                    <a id="header-basket" onmouseover="change()" onmouseout="notChange()">
                        <img src="images/basket.png" width="110px" height="100px" alt="#" id="basket">
                        <img src="images/arrow.png" width="50px" height="30px" alt="#" id="arrow">
                    </a>
                    <ul id="sub">
                        <li id="sum">
                            <span id="sum-price">Цена: </span>
                        </li>
                        <li class="prd" th:each="baskets: ${basket}">
                            <div id="prd-nn">
                                <span id="prd-name" th:text="${baskets.getName()}"></span>
                                <span id="prd-number">1 шт.</span>
                            </div>
                            <form method="post" th:action="@{/deletefromproduct}">
                                <input type="hidden" name="id1" th:value="${baskets.getId()}" th:name="id1">
                                <input type="hidden" name="id2" th:value="${product.get().getId()}" th:name="id2">
                                <input id="del" type="submit" value="✖">
                            </form>
                        </li>
                        <li id="buy">
                            <form method="get" th:action="@{/purchase}">
                                <input id="btn-buy" type="submit" value="Купить">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>

        <div class="content">
            <div class="for-image">
               <img th:src="@{'images/' + ${product.get().image}}" width="100%" height="auto">
            </div>
            <div class="for-info">
                <span id="name" th:text="${product.get().name}"></span>
                <span id="category" th:text="'Категория: ' + ${type.get().name}"></span>
                <span id="number">Количество: 1шт.</span>
                <span id = "price" th:text="${product.get().price} +' руб.'"></span>
                <form method="post" th:action="@{/addfromproduct(id=${product.get.getId()})}">
                <input type="submit" value="В корзину" id = "in-basket">
                </form>
            </div>
        </div>
        <script>
            function change(){
                let arrow = document.getElementById('arrow');
                let basket = document.getElementById('basket');
                arrow.src = 'images/arrow_black.png';
                basket.src = 'images/basket_black.png';
            }
            function notChange(){
                let arrow = document.getElementById('arrow');
                let basket = document.getElementById('basket');
                arrow.src = 'images/arrow.png';
                basket.src = 'images/basket.png';
            }
        </script>
    </body>
</html>